{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="header">
      <!-- logo -->
      <div class="logo">
        <a href="/">
          <img src="{% static 'img/logo.svg' %}" alt="logo" />
        </a>
      </div>
      <!-- Навигация -->
      <nav class="nav">
        <a href="{% url 'poem_create' %}">Добавить произведение</a>
      </nav>
      <!-- Вход выход, регистрация -->
      {% if not user.is_authenticated %}
      <div class="auth">
        <a href="{% url 'login' %}">
          <button class="login-button">Войти</button>
        </a>
        <!-- Регистрация -->
        <a href="">
          <button class="login-button">Регистрация</button>
        </a>
        {% else %}
        <form method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="login-button">Выйти</button>
        </form>
        {% endif %}
      </div>
    </header>
    <!--  -->
    <div class="body-container">{% block content %} {% endblock content%}</div>
    <!--  -->
  </body>
</html>
