* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, sans-serif;
}

.header {
  background: linear-gradient(to right, black, rgb(255, 0, 166));
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header nav a {
  text-decoration: none;
  color: white;
}

.header nav a:hover {
  text-decoration: underline;
  color: white;
}
